@import "./../App/vars";

.editcard__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 50px;
}

.edit__photo {
  padding: 30px;
  width: clamp(400px, 450px, 450px);
  width: 450px;
  height: 600px;
  background-color: $white;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;

  row-gap: 30px;

  overflow: hidden;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.edit__photocontrols {
  position: relative;
  display: flex;
  justify-content: space-between;
  input {
    position: absolute;
    cursor: pointer;
    left: 0;
    width: 30px;
    height: 30px;
    opacity: 0;
  }
}

.editinfo {
  display: grid;
  grid-gap: 25px;
  width: 100%;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.editinfo__desc {
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: $sub-color;
}

.editinfo__selector {
  padding: 13px 0px;
  border-radius: 8px;
  appearance: none;
  text-align: center;
  width: 100%;
  background-color: $white;
  background-image: url(./../../../public/img/arrowList.svg);
  background-position: 90% 50%;
  background-repeat: no-repeat;
}

.editinfo__input {
  padding: 13px 50px;
  border-radius: 8px;
  width: 100%;
  background-color: $white;
  text-align: center;
}
