@import "./../App/vars";

.info {
  margin: 0 auto;
  display: grid;
  grid-gap: 25px;
  width: 800px;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.info__desc {
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: $sub-color;
}

.info__selector {
  padding: 13px 0px;
  border-radius: 8px;
  appearance: none;
  text-align: center;
  width: 250px;
  background-color: $white;
  background-image: url(./../../../public/img/arrowList.svg);
  background-position: 90% 50%;
  background-repeat: no-repeat;
}

.info__input {
  padding: 13px 50px;
  border-radius: 8px;
  width: 250px;
  background-color: $white;
  text-align: center;
}
